div.map
{
	td
	{
		width: 60px;
		height: 60px;
		text-align: center;
		vertical-align: middle;

		&.y
		{
			width: 20px;
			border: 0;
		}

		&.x
		{
			height: 25px;
			border: 0;
		}
	}

	img
	{
		width: 60px;
		height: 60px;
	}
}