div#editor {
  border: 1px solid #ccc;
  position: relative;
  width: 500px;
  height: 600px;
  display: inline-block;
}
div#instructions {
  vertical-align: top;
  border: 1px solid #ccc;
  position: relative;
  display: inline-block;
  padding: 20px;
  background-color: #fff;
}
