div.map table {
  border-collapse: collapse;
}
div.map table td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
}
div.map table td.y {
  width: 20px;
  border: 0;
}
div.map table td.x {
  height: 25px;
  border: 0;
}
div.map table img {
  width: 90px;
  height: 90px;
}
