html {
  font-family: "Atlas Grotesk Web", sans-serif;
  color: #333;
  font-size: 12pt;
  background-color: #eee;
  height: 100%;
  line-height: 150%;
}
body {
  margin: 0;
  padding: 0;
}
.clear:before,
.clear:after {
  content: "";
  display: table;
}
.clear:after {
  clear: both;
}
a {
  text-decoration: none;
  color: RoyalBlue;
}
a:hover {
  color: Blue;
}
a.button {
  background-color: #fafaf7;
  padding: 5px 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 a,
h2 a,
h3 a {
  font-size: 12pt;
  font-weight: normal;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}
th {
  font-weight: normal;
}
code {
  background-color: #fafaf7;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
}
#header {
  background-color: #fafaf7;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}
#content {
  background-color: #f3f1ec;
  padding: 30px 0;
  box-shadow: inset 1px 4px 6px -6px #777770;
}
#content:before,
#content:after {
  content: "";
  display: table;
}
#content:after {
  clear: both;
}
#footer {
  min-height: 50px;
}
.content {
  width: 1080px;
  margin: 0 auto;
}
.shadow-line {
  border-top: 1px solid #ccc;
  height: 6px;
  box-shadow: inset 1px 4px 6px -6px #777770;
}
div#editor {
  border: 1px solid #ccc;
  position: relative;
  width: 550px;
  height: 600px;
  display: inline-block;
}
div#instructions {
  float: right;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  width: 460px;
}
#description {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}
#description .text {
  vertical-align: top;
  display: inline-block;
  width: 680px;
  margin-right: 50px;
}
#description .map {
  display: inline-block;
  width: 300px;
}
.api li {
  margin: 15px 0;
}
.api li span {
  display: block;
  color: #666;
}
